.header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameBoard{
  display: flex;
  padding-top: 10px;
  width: 15em;
  height: 15em;
  flex-wrap: wrap;
}
.resetButton{
  padding: .75em 1.5em;
  cursor: pointer;
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #6e7881;
  color: #fff;
  font-size: 1em;
}
.resetButton:hover{
  background-color: #91989e;
}

.boxes{
  width: 33.33%;
  height: 33.33%;
  outline: 1px solid black;
  cursor: pointer;
  border-radius: 0.25em;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.iconInTitle{
  width: 3em;
  height: 3em;
}

.iconInScore{
  width: 2em;
  height: 2em;
}

.scoreBoard{ 
  display: flex;
  align-items: center;
}